Repository GoogleCloudPlatform/samples-experiment, pull requests merged in 2023-11, with the labels that each got.

#12 chore: convert feature request template to form
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: type: cleanup, samples, size: m, lang:yaml

#5 chore: update renovate to use separate language presets
  .samplesplatform/renovate/README.md
  .samplesplatform/renovate/go.json5
  .samplesplatform/renovate/java.json5
  .samplesplatform/renovate/javascript.json5
  .samplesplatform/renovate/python.json5
  .samplesplatform/renovate/terraform.json5
  renovate.json5
Labels: samples, size: l

#15 chore(java): import java samples
  products/compute/java/pom.xml
  products/compute/java/src/main/java/snapshot/CreateSnapshot.java
  products/compute/java/src/main/java/templates/DeleteInstanceTemplate.java
  products/compute/java/src/test/java/snapshot/SnapshotsIT.java
  products/compute/java/src/test/java/templates/InstanceTemplatesIT.java
  products/language/java/pom.xml
  products/language/java/src/main/java/Analyze.java
  products/language/java/src/test/java/AnalyzeIT.java
  products/logging/java/pom.xml
  products/logging/java/src/main/java/ListLogEntries.java
  products/logging/java/src/test/java/LoggingIT.java
  products/pubsub/java/pom.xml
  products/pubsub/java/src/main/java/CreateTopicExample.java
  products/pubsub/java/src/test/java/AdminIT.java
  products/storage/java/pom.xml
  products/storage/java/src/main/java/MoveObject.java
  products/storage/java/src/test/java/ITObjectSnippets.java
Labels: samples, api: compute, api: language, api: pubsub, api: storage, size: xl, lang:java
