Repository GoogleCloudPlatform/samples-experiment, pull requests merged in 2024-01, with the labels that each got.

#21 chore: renovate syntax fixes for presets
  .samplesplatform/renovate/go.json5
  .samplesplatform/renovate/java.json5
  .samplesplatform/renovate/python.json5
  .samplesplatform/renovate/terraform.json5
  renovate.json5
Labels: samples, size: s

#24 chore: add java package name to metadata
  products/compute/java/src/main/java/snapshot/CreateSnapshot.java
  products/compute/java/src/main/java/templates/DeleteInstanceTemplate.java
  products/compute/java/src/test/java/snapshot/SnapshotsIT.java
  products/compute/java/src/test/java/templates/InstanceTemplatesIT.java
  products/compute/metadata/create_disk_snapshot.toml
  products/compute/metadata/delete_template.toml
  products/logging/java/src/main/java/logs/ListLogEntries.java
  products/logging/java/src/test/java/logs/LoggingIT.java
  products/logging/metadata/list_log_entries.toml
  products/storage/java/src/main/java/object/MoveObject.java
  products/storage/java/src/test/java/object/ITObjectSnippets.java
  products/storage/metadata/storage_move_file.toml
Labels: samples, api: compute, api: storage, size: s, lang:java

#25 chore: enable language labeling for package managers
  .github/auto-label.yaml
Labels: samples, size: xs, lang:yaml

#23 chore: Renovate fix preset URIs
  renovate.json5
Labels: samples, size: s

#20 chore: Changes to metadata files
  products/compute/metadata/create_disk_snapshot.toml
  products/compute/metadata/delete_template.toml
  products/compute/metadata/oslogin_service_account_ssh.toml
  products/logging/metadata/list_log_entries.toml
  products/storage/metadata/storage_move_file.toml
  products/storage/metadata/tf/storage_move_file/move_between_buckets.tf
  products/storage/metadata/tf/storage_move_file/single_bucket_move.tf
  renovate.json5
Labels: samples, api: compute, api: storage, size: m

#28 chore: update java pom.xml path in toml files
  products/compute/metadata/create_disk_snapshot.toml
  products/compute/metadata/delete_template.toml
  products/logging/metadata/list_log_entries.toml
  products/storage/metadata/storage_move_file.toml
Labels: samples, api: compute, size: s

#29 feat: add storage bucket sample and metadata
  products/storage/java/src/main/java/bucket/DeleteBucket.java
  products/storage/metadata/delete_bucket.toml
  products/storage/python/bucket/delete.py
  products/storage/python/bucket/requirements-test.txt
  products/storage/python/bucket/requirements.txt
Labels: samples, api: storage, size: m

#30 feat: Adding metadata template
  metadata_template.toml
  products/compute/metadata/create_disk_snapshot.toml
  products/compute/metadata/delete_template.toml
  products/compute/metadata/oslogin_service_account_ssh.toml
  products/logging/metadata/list_log_entries.toml
Labels: samples, api: compute, size: l
